Makefile

node_modules
.git
.gitignore
README.md
LICENSE
Dockerfile
docker-compose.yaml
data
npm-debug.log
temp

.env
apps/web/.env
apps/web/.next
apps/web/public/sw.js
apps/web/public/swe-worker-*.js
apps/worker/.env
apps/worker/temp
packages/database/.env
packages/import-csv/target
packages/import-csv/temp

scripts
.turbo
.vscode
test
